<div class="container">
        <h5>All The Incidents</h5>
        <a style="margin-bottom: 10px;" href="/incidents/new" class="btn btn-primary btn-sm float-right" role="button" >Create New Incident</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Severity</th>
                <th>Created At</th>
            </tr>
        </thead>    
        <tbody>
        <% @incidents.each do |i| %>
            <tr>
                
                    <td><%= i.title %></td>
                    <td><%= i.description %></td>
                    <td><%= i.severity %></td>
                    <td><%= i.created_at.strftime("%m-%d-%Y at %I:%M %p") %></td>
                
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
